.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.position-fixed { 
  position: fixed
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #4a6fc5 !important;
}

.hidden {
  display: none;
}

.img-fluid {
  height: 35px;
}

