<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="searchForm">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-select required placeholder="Transaction Type" [formControl]="searchForm.controls['transType']">
                                        <mat-option value="1">Credit</mat-option>
                                        <mat-option value="2">Debit</mat-option>
                                        <mat-option value="3">Both</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 full-width">
                                <mat-form-field class="full-width">
                                    <input matInput required [matDatepicker]="picker1" placeholder="From Date" [formControl]="searchForm.controls['fromDate']">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3 full-width">
                                <mat-form-field class="full-width">
                                    <input matInput required [matDatepicker]="picker2" placeholder="To Date" [formControl]="searchForm.controls['toDate']">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <button mat-raised-button color="primary" [disabled]="searchForm.invalid" (click)="searchResult(false)">Search</button>
                            </div>
                            <div class="col-md-1">
                                <button mat-raised-button color="accent" (click)="exportXlxs()">Export</button>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-12 mt-3">
            <table mdbTable #tableEl="mdbTable" class="z-depth-1">
                <thead>
                    <tr>
                        <th *ngFor="let head of headElements; let i = index" scope="col">{{head}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let el of elements; let i = index">
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.description}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.type}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.amount}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.balance}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.remarks}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.user}}</td>
                        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.dateTime}}</td>
                    </tr>
                </tbody>
                <tfoot class="grey lighten-5 w-100">
                    <tr>
                        <td colspan="4">
                        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>