.back-img {
    background-image: url('./../../../../assets/images/main-bg.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px !important;
}