@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-blue, 800, 500, 200);
$custom-accent:  mat-palette($mat-amber, 500, 300, 100);
$custom-warn:    mat-palette($mat-red, 700, 500, 300);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);

html,
body {
    height: 100%;
}

body {
    height: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.container {
    margin-top: 40px !important;
}

.mat-card-header {
    border-bottom: 1px #F5F5F5 solid;
}

#top-bar .navbar {
    height: 45px !important;
}

#top-bar #navbarCollapse {
    background: #4a6fc5;
    z-index: 1500;
}

.navbar {
    background: rgb(21, 101, 192);
}

.full-width {
    width: 100% !important;
}

.error-msg {
    color: #D32F2F;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.example-sidenav-container .mat-drawer-inner-container {
    width: 200px;
}

.active-list-item {
    color: #42A5F5 !important; /* Note: You could also use a custom theme */
    background: #E0E0E0  !important;
}

.mat-nav-list .mat-list-item {
    border-bottom: 1px solid #e0e0e0;
}

table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center !important;
}