<!--Navbar-->
<!-- <mdb-navbar id="top-bar" SideClass="navbar navbar-expand-sm navbar-dark nav-primary" [containerInside]="false"> -->

  <!-- Navbar brand -->
  <!-- <links>
    <span class="navbar-text white-text">
      {{ adminMsg }}
    </span> -->
    <!-- Links -->
    <!-- <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbTooltip="Like Us on Facebook" placement="bottom" mdbWavesEffect>
          <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbTooltip="Follow Us on Twitter" placement="bottom" mdbWavesEffect>
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
    </ul>
  </links>

</mdb-navbar> -->
<!--/.Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light white sticky-top" [containerInside]="true">
    <mdb-navbar-brand>
      <button type="button" style="padding: 0px;" mdbBtn color="link" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <a class="navbar-brand" routerLink="/reload-app/dashboard">Go Digital Pay</a>
    </mdb-navbar-brand> -->
    <!-- Collapsible content -->
  <!-- <links> -->
    <!-- Links -->
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active" (click)="changeActiveClass()" [class.active]="dashboard">
        <a class="nav-link waves-light" routerLink="/reload-app/dashboard" mdbWavesEffect>Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" (click)="changeActiveClass()" [class.active]="mobile">
        <a class="nav-link waves-light" routerLink="/reload-app/mobile" mdbWavesEffect>Mobile</a>
      </li>
      <li class="nav-item" (click)="changeActiveClass()" [class.active]="dth">
        <a class="nav-link waves-light" mdbWavesEffect>DTH</a>
      </li>
    </ul> -->

    <!-- Links -->
    <!-- <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item mt-6">
          <a class="nav-link">Rs. {{ balance }}</a>
      </li>
      <li class="nav-item avatar dropdown" mdbDropdown>
          <a mdbDropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="Profile Image" class="img-fluid rounded-circle z-depth-0"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect>My account</a>
              <a class="dropdown-item waves-light" (click)="signOut()" mdbWavesEffect >Sign out</a>
          </div>
      </li>
    </ul> -->
    <!-- Links -->
  <!-- </links> -->
  <!-- Collapsible content -->
<!-- </mdb-navbar>
<mat-sidenav-container color="primary" class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list> -->
      <!-- <a mat-list-item *ngFor="let item of taskList;" routerLink="{{ (item.pageURL == '') ? '/session/404' :  item.pageURL}}" routerLinkActive="active-list-item">{{ item.taskDesc }}</a> -->
      <!-- <a mat-list-item routerLink=".">Sidenav Irem 2</a>
      <a mat-list-item routerLink=".">Sidenav Irem 3</a>
      <a mat-list-item routerLink=".">Sidenav Irem 4</a> -->
    <!-- </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <router-outlet></router-outlet> -->

<app-main-nav>
  <router-outlet></router-outlet>
</app-main-nav>