<div class="container">
  <div class="row">
      <div class="col-md-12 mt-5">
          <mat-card>
              <mat-card-content>
                  <form [formGroup]="searchForm">
                      <div class="row">
                          <div class="col-md-4">
                              <mat-form-field class="full-width">
                                  <mat-select required placeholder="Transaction Type" [formControl]="searchForm.controls['transType']">
                                      <mat-option value="1">Credit</mat-option>
                                      <mat-option value="2">Debit</mat-option>
                                      <mat-option value="3">Both</mat-option>
                                  </mat-select>
                              </mat-form-field>
                          </div>
                          <div class="col-md-3 full-width">
                              <mat-form-field class="full-width">
                                  <input matInput required [matDatepicker]="picker1" placeholder="From Date" [formControl]="searchForm.controls['fromDate']">
                                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                  <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                          </div>
                          <div class="col-md-3 full-width">
                              <mat-form-field class="full-width">
                                  <input matInput required [matDatepicker]="picker2" placeholder="To Date" [formControl]="searchForm.controls['toDate']">
                                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2></mat-datepicker>
                              </mat-form-field>
                          </div>
                          <div class="col-md-1">
                              <button mat-raised-button color="primary" [disabled]="searchForm.invalid" (click)="searchResult(false)">Search</button>
                          </div>
                          <div class="col-md-1">
                              <button mat-raised-button color="accent" (click)="exportXlxs()">Export</button>
                          </div>
                      </div>
                  </form>
              </mat-card-content>
          </mat-card>
      </div>
      <div class="col-md-12 mt-3">
          <table mdbTable #tableEl="mdbTable" class="z-depth-1">
              <thead>
                  <tr>
                        <th [mdbTableSort]="elements" sortBy="transactionDateTime">
                            Date Time
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="transactionDoneUser">
                            User
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="transactionDesc">
                            Description
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="credit">
                            Credit
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="debit">
                            Debit
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="transactionAmount">
                            Amount
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="balance">
                            Balance
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                        <th [mdbTableSort]="elements" sortBy="remarks">
                            Remarks
                            <mdb-icon fas icon="sort"></mdb-icon>
                        </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let el of elements; let i = index">
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.transactionDateTime}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.transactionDoneUser}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.transactionDesc}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.credit}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.debit}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.transactionAmount}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.balance}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.remarks}}</td>
                  </tr>
              </tbody>
              <tfoot class="grey lighten-5 w-100">
                  <tr>
                      <td colspan="4">
                      <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                      </td>
                  </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
